<md-bottom-sheet class="col fill">
    <div class="row header align-start-center">
        <img class="ripple" src="/mfm-wallet/img/back.svg" ng-click="close()">
        <p>Select token</p>
    </div>
    <div class="col content align-start-center">
        <div class="col block ">
            <div class="row mh16 mt16 gray300-text">
                <p class="flex size10 gray400-text">Your tokens</p>
                <p class="size10">Price</p>
                <p class="size10 row align-end" style="min-width: 80px">Balance</p>
            </div>
            <div class="col" ng-repeat="token in activeTokens">
                <div class="row ph16 pv8 align-start-center ripple"
                     ng-click="back(token.domain)">
                    <div ng-style="getLogo(token.domain)"></div>
                    <div class="col flex ml8">
                        <p class="size16 uppercase medium">{{token.domain}}</p>
                        <p class="size12 gray400-text">{{token.owner}}</p>
                    </div>
                    <div class="col align-end-end">
                        <p>{{formatPrice(token.price)}}</p>
                        <p class="size10 mt4" ng-class="percentColor(token.price24)">
                            {{formatPercent(token.price24)}}
                        </p>
                    </div>
                    <div class="col align-end-end" style="min-width: 80px">
                        <p>{{formatPrice(token.price * token.balance)}}</p>
                        <p class="size10 mt4">{{formatAmount(token.balance)}}</p>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="col" ng-hide="activeTokens.length">
                <div class="row align-center-center size20 gray400-text"
                     style="height: 200px">
                    Nothing found
                </div>
            </div>
        </div>
    </div>
</md-bottom-sheet>