<md-bottom-sheet class="col fill">
    <div class="row header align-start-center">
        <img class="ripple" src="/mfm-wallet/img/back.svg" ng-click="close()">
        <p>Select item</p>
    </div>
    <div class="col content align-start-center">
        <div class="col block">
            <div class="row mt8 pv8 gray300-back">
                <div class="ml16"
                     ng-class="{'bold': mode == 'chest'}"
                     ng-click="setMode('chest')">
                    chest
                </div>
                <div class="ml8"
                     ng-class="{'bold': mode == 'inventory'}"
                     ng-click="setMode('inventory')">
                    inventory
                </div>
            </div>

            <div class="row wrap" ng-show="mode == 'chest'">
                <div class="row m8 align-start-center" ng-repeat="(domain, amount) in chest"
                     ng-click="chestGet(domain)">
                    <div ng-style="getTexture(domain)"></div>
                    <p class="flex m16">{{domain}}</p>
                    <p class="size16 uppercase medium">{{formatAmount(amount)}}</p>
                </div>
            </div>
            <div class="col" ng-show="mode == 'inventory'">
                <div class="row m8 align-start-center" ng-repeat="(domain, amount) in inventory"
                     ng-click="chestPut(domain)">
                    <div ng-style="getTexture(domain)"></div>
                    <p class="flex m16">{{domain}}</p>
                    <p class="size16 uppercase medium">{{formatAmount(amount)}}</p>
                </div>
            </div>
        </div>
    </div>
</md-bottom-sheet>