<md-bottom-sheet class="col">
    <div class="row header align-start-center">
        <img class="ripple" src="/mfm-wallet/img/back.svg" ng-click="close()">
        <p>Craft {{domain}}</p>
    </div>
    <div class="col content align-start-center">
        <div class="col block">
            <div class="row">
                <div class="flex-50 col">
                    <div class="col m8" ng-repeat="(domain, amount) in recipe">
                        <div ng-style="getTexture(domain)"></div>
                        <p class="size16 uppercase medium">{{formatAmount(amount)}}</p>
                    </div>
                </div>
                <div class="row align-start-center">
                    <div class="flex row input-wrapper-black">
                        <div class="input-label uppercase">{{domain}}</div>
                        <input type="number"
                               ng-model="amountResult"
                               ng-change="changeAmountResult()">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="primary-button" ng-click="create()">
                    Create
                </div>
            </div>
        </div>
    </div>
</md-bottom-sheet>