<md-bottom-sheet class="col">
    <div style="position: absolute; right: 29px; top: -50px; z-index: 2">
        <img src="/mfm-wallet/img/send.png">
    </div>
    <div class="row header align-start-center">
        <img class="ripple" src="/mfm-wallet/img/back.svg" ng-click="back()">
        Send {{formatTicker(domain)}}
    </div>
    <div class="col content">
        <div class="col input-content">
            <div class="row input-wrapper-black">
                <div class="input-label">To address</div>
                <input type="text"
                       ng-disabled="block_to_address"
                       autocapitalize="none"
                       autocomplete="off"
                       minlength="3"
                       maxlength="50"
                       onkeypress="return event.charCode != 32"
                       ng-model="to_address">
            </div>
            <div class="col">
                <div class="row input-wrapper-black">
                    <div class="input-label">Amount</div>
                    <input type="number"
                           autocapitalize="off"
                           ng-model="amount">
                </div>
                <div class="mt8 row nowrap">
                    <p>Scene: {{scene}} Position: {{pos}}</p>
                </div>
            </div>
        </div>
        <div class="row mh16 mv8">
            <button class="flex primary-button radius4" ng-click="send()"
                    ng-disabled="!to_address || !amount">
                Send
            </button>
        </div>
    </div>
</md-bottom-sheet>